/*@charset "UTF-8";*/
@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'GangwonEdu_OTFLightA', serif;
}

h1 {
    color: slategrey;
}

.float_side {
    position: fixed;
    display: inline-block;
    top: 10%;
}

.bd-navbar {
    border: 3px solid black;
}

.top-nav-bar {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}

.error_msg {
    display: block;
    color: red;
    font-size: 12px;
    margin: 9px 0 -2px;
}

.green {
    color: green;
}
