<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h3>버스 노선 검색 결과</h3>
        <table>
            <tr>
                <th>버스 id</th>
                <th>이름</th>
                <th>기점</th>
                <th>종점</th>
                <th>첫차 시간</th>
                <th>막차 시간</th>
                <th>배차 간격</th>
            </tr>
            {% for b in res %}
                <tr>
                    <td>
                        <a href="/bus/station_info/{{b.bus_code}}">{{b.bus_code}}</a>
                    </td>
                    <td>{{b.bus_route_name}}</td>
                    <td>{{b.start_station}}</td>
                    <td>{{b.end_station}}</td>
                    <td>{{b.start_time}}</td>
                    <td>{{b.end_time}}</td>
                    <td>{{b.term}}</td>
                    <td>
                        <button type="submit" onclick="location.href='/bus/generate_bus?bus_id={{b.bus_code}}&bus_name={{b.bus_route_name}}&user_id={{session.login_id}}'">
                            자주 사용하는 버스 등록하기
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>